{
 "Configuration Settings":
 [
  {
    "Name": [ "Policy", "Learning Rate" ],
    "Type": "float",
    "Description": "Indicates the learning rate for the policy network."
  },
  {
    "Name": [ "Policy", "Adoption Rate" ],
    "Type": "float",
    "Description": "Smoothes the rate at which the new policy hyperparameters are adopted. (1-r)*oldH + r*newH."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Experience Replay": { "REFER": { "Enabled": true } }
 },
 
 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
