{
 "Configuration Settings":
 [
  {
    "Name": [ "Policy", "Learning Rate" ],
    "Type": "float",
    "Description": "Indicates the learning rate for the policy network."
  },
  {
    "Name": [ "Policy", "Adoption Rate" ],
    "Type": "float",
    "Description": "Smoothes the rate at which the new policy hyperparameters are adopted. (1-r)*oldH + r*newH."
  },
  {
    "Name": [ "Policy", "Optimization Candidates" ],
    "Type": "float",
    "Description": "The number of candidates evaluated per generation CMAES."
  },
  {
    "Name": [ "Policy", "Target Accuracy" ],
    "Type": "float",
    "Description": "Termination criteria for the CMAES optimizer. It represents the minimum difference between the maximum advantage value between two optimization steps."
  },
  {
    "Name": [ "Policy", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "Indicaes the mini batch size for the policy update."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Experience Replay": { "REFER": { "Enabled": true } }
 },
 
 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
